.example-container {
  max-width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-icon {
  margin-right: 20px;
}

span {
  display: block;
  margin-left: 100px;
}

.btn-container{
  padding: 0 0 3px 5px;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #fafafa;
  cursor: pointer;
}
