<mat-toolbar color="primary" class="header">
  <div>
    <div class="btn-container">
      <button type="button" mat-icon-button color="gray" (click)="hideMenu = !hideMenu">
        <button type="button" mat-icon-button color="gray" (click)="toggle()" *ngIf="hideMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-mini-fab color="gray" (click)="toggle()" *ngIf="!hideMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </button>
    </div>
  </div>
  <span><a routerLink="/books">Trello</a></span>
</mat-toolbar>

<router-outlet></router-outlet>
